* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9fafb;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: linear-gradient(90deg,#4f46e5,#9333ea);
    color: white;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

.login-btn {
    background: white;
    color: #4f46e5;
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}



.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    background: linear-gradient(135deg,#6366f1,#a855f7);
    color: white;
}

.hero img {
    width: 380px;
}

.hero-content h1 {
    font-size: 42px;
    line-height: 1.2;
}

.hero-content p {
    margin: 20px 0;
}

.cta-btn {
    padding: 14px 30px;
    background: #22c55e;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.courses {
    padding: 60px;
    text-align: center;
}

.course-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.course-card {
    background: white;
    padding: 30px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-12px);
    background: linear-gradient(135deg,#6366f1,#9333ea);
    color: white;
}




.features {
    background: #eef2ff;
    padding: 60px;
    text-align: center;
}

.feature-box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 30px;
}

.feature {
    background: white;
    padding: 20px;
    border-radius: 12px;
    font-weight: 600;
}




footer {
    background: #1f2937;
    color: white;
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

footer h3, footer h4 {
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
}

copyright {
    text-align: center;
}
